.todo-form {
    display: flex;
    align-items: center;
    margin:2% 2% 2% 2%;
    margin-bottom: 1rem;
  }
  
  .todo-form form {
    display: flex;
    width: 100%;
  }
  
  .todo-form form .MuiTextField-root {
    flex: 1; 
    margin-right: 1rem; 
  }
  .MuiFormControl-root .Mui-error .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-color: red !important;
  }
  
  .MuiFormControl-root .MuiFormLabel-root.Mui-error {
    color: red !important;
  }
  